<%# layouts/main.ejs - Main page layout %>
<!DOCTYPE html>
<html lang='en'>

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<!-- header -->
	<%- include('../partials/header.ejs') %>

	<!-- flash message banner -->
	<% if (locals.messages && locals.messages.error) {%>
	<div class="flash error">
		<%= locals.messages.error %>
	</div>
	<% } %>
	<% if (locals.messages && locals.messages.success) {%>
	<div class="flash success">
		<%= locals.messages.success %>
	</div>
	<% } %>
	<% if (locals.cmd) {%>
	<div class="flash info">
		<%= locals.cmd %>
	</div>
	<% } %>

	<!-- body -->
	<main class='container'><%- body %></main>

	<!-- footer -->
	<%- include('../partials/footer.ejs') %>
</body>

</html>

<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
